<div class="_contract">
  質問タイトル：<%= guest_question_contract.contractable.title %></br>
  質問投稿者：<%= guest_question_contract.contractable.user.name %></br>
  期限：<%= guest_question_contract.contractable.timelimit %></br>
</div>
