<div class="_contract">
  レクチャータイトル：<%= host_lecture_contract.contractable.title %></br>
  メンター：<%= host_lecture_contract.contractable.user.name %></br>
  契約時間：<%= host_lecture_contract.contractable.total_avarable_time %></br>
  <%= link_to "チャット", contract_chats_path(host_lecture_contract.id) %></br>
</div>
