<div class="_contract">
  質問タイトル：<%= host_question_contract.contractable.title %></br>
  回答者：<%= host_question_contract.contractable.user.name %></br>
  <%= link_to "チャット", contract_chats_path(host_question_contract.id) %></br>
</div>
