<div class="chats_index">

  <h1><%= current_user.name %>さんのチャット一覧</h1>
  <ul class="menu contract_situation clearfix">
    <li id="will_do" class="before_contract">申請中</li>
    <li id="doing" class="selected current_contract">契約中</li>
    <li id="done" class="after_contract">契約終了</li>
  </ul>

  <%= form_tag search_chats_path, id: :form, remote: true do %>
  <%= hidden_field_tag :contract_situation_form, "" %>
  <% end %>

  <div class="search_results">
    <div class="results_box clearfix">
      <%= render partial: "contract", collection: @contracts %>
    </div>
  </div>

</div>

<script>

  $(".contract_situation li").click(function(){
    $(".contract_situation li.selected").removeClass('selected');
    $(this).addClass('selected');
  });

  $("li").click(function() {
    var contract_situation_id = $(".contract_situation li.selected").attr("id")
    $("#contract_situation_form").val(contract_situation_id);
    $("#form").submit();
  });

</script>
