.header {
  height: 40px;
  background-color: #D52B2F;
  font-family: HiraKakuProN-W3;

  #hedder_navbar{
    color: #fff;
    line-height: 40px;
    height: 40px;
    width: 89%;
    margin: 0 auto;
    a{
      color: #fff;

      &:hover{
        opacity: 0.9;
      }
    }


    .fade_area{
      display: none;
      position: relative;
      z-index: 999;
      ul li:hover{
        background-color: #EAA09F;
        a {
          color: #FFF !important;
        }
      }
    }


    #navbar_left{
      margin-right: 10px;
      #header_logo{
        font-size: 21px;
      }
    }

    #navbar_center{
      text-align: center;

      #centering_question_lecture_nav{
      }

      #question_nav{
      }

      a{
        color: #4A4A4A;
      }


      .question_fade_trigger{
        float: left;
        margin: 0 20px;
        // &:before{
        //   content: "";
        //   position: relative;
        //   top: 10px;
        //   left: 56px;
        //   height: 0;
        //   width: 0;
        //   border: solid 5px transparent;
        //   border-top-color: #fff;
        // }
      }

      #question_nav_menu{
        position: absolute;
        top: 40px;
        left: 12%;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.9);
        line-height: 50px;
        text-align: center;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
        ul {
          position: relative;
        }
        li {
          padding: 0 5px;
        }
      }

      .lecture_fade_trigger{
        float: left;
      }

      #lecture_nav_menu{
        position: absolute;
        top: 40px;
        background: rgba(255, 255, 255, 0.9);
        line-height: 50px;
        text-align: center;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
        ul {
          position: relative;
          li {
            padding: 0 10px;
          }
        }
      }
    }// navbar_center




    #navbar_right{
      position: relative;
      float: right;
      text-align: right;

      #contract_nav{
        position: relative;
        top: 2px;
        right: 25px;
      }

      #chat_nav{
        position: relative;
        top: 2px;
        right: 15px;
      }

      #avatar_nav{
        position: relative;
        top: 4px;
        width: 30px;
        height: 30px;
        border-radius: 100%;
      }

      #avatar_nav_menu{
        position: absolute;
        top: 40px;
        right: 0px;
        width: 150px;
        background: rgba(255, 255, 255, 0.9);
        list-style: none;
        line-height: 35px;
        float: right;
        text-align: center;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);

        a{
          color: #4A4A4A;
        }
      }

      .avatar_fade_trigger{
        width: 2rem;
        float: right;
      }


    }//navbar_right

  }//header_navbar






} // header
