//show//
.show_left_content {
  p {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 30px;
  }
  h1 {
    margin-bottom: 30px;
  }
  h2 {
    margin-bottom: 15px;
  }
}

.show_circle {
 width: 100px;
 height: 100px;
 background-color: #4A4A4A;
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 display: table;
 font-size: 20px;
 span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    line-height: 1.1em;
    color: #FFF;
    font-size: 18px;
  }
  .contract_list {
    float: right;
  }
}

.circle_list {
  width: 90%;
  margin: 0 auto;
  .money {
    float: left;
  }
  .how_to {
    float: left;
    margin-left: 80px;
    ul li {
      float: right;
      padding-left: 20px;
    }
  }
}

.user_content {
  background-color: #F3F3F3;
  padding: 20px;
  text-align: center;
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  p {
    margin-bottom: 5px;
  }
}

.contract {
  text-align: center;
  width: 100%;
  padding-top: 60px;
  .contract_circle {
    color: #D52B2F;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    color: #D52B2F;
    margin: 0px auto 0 auto;
    padding: 13px 13px;
    border: 1px solid #D52B2F;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}
