//show//
.show_left_content {
  p {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 30px;
  }
  h1 {
    padding-bottom: 30px;
    text-align: left;
  }
  h2 {
    margin-bottom: 15px;
  }
}

.show_circle {
 width: 100px;
 height: 100px;
 background-color: #4A4A4A;
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 display: table;
 font-size: 20px;
 span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    line-height: 1.1em;
    color: #FFF;
    font-size: 18px;
  }
  .contract_list {
    float: right;
  }
}

.circle_list {
  width: 90%;
  margin: 0 auto;
  .money {
    float: left;
  }
  .how_to {
    float: left;
    margin-left: 80px;
    ul li {
      float: right;
      padding-left: 20px;
    }
  }
}

.user_content {
  background-color: #F3F3F3;
  padding: 20px;
  text-align: center;
  float: right;
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  p {
    margin-bottom: 5px;
  }
}

.contract {
  text-align: center;
  width: 100%;
  padding-top: 60px;
  .contract_circle {
    color: #DF423D;
    border-radius: 50px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    margin: 0px auto 0 auto;
    padding: 10px 20px;
    border: 1px solid #DF423D;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}

.contract a:hover {
    background-color: #DF423D;
    color: #FFF;
    border: 1px solid #DF423D;
}

.lecture_new, .question_new {
  margin: 0 auto;
  width: 60%;
  h2 {
    text-align: center;
    margin: 30px 0 15px;
    font-weight: normal;
    font-size: 26px;
    color: #333;
  }
  .avatar {
    width: 35px;
    height: 35px;
    border-radius: 100%;
  }
  span {
    position: relative;
    bottom: 13px;
    margin-left: 2px;
    font-size: 14px;
    color: #DF423D;
  }
  #lecture_title, #question_title {
    border: none;
    font-size: 20px;
    margin: 15px 0;
    width: 100%;
  }
  #lecture_content, #question_content {
    border: none;
    font-size: 14px;
    width: 100%;
    height: 200px;
  }
  .btn {
  background-color: #DF423D;
  color: #fff;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  }
  .radius_box {
    text-align: center;
    margin-top: 20px;
    input:focus {
      outline: none;
      outline-offset: none;
    }
  }
  .new_content {
    margin: 0 auto;
  }
}
