<% unless params[:controller].include?("devise") %>
  <header class="header">
  <div class="headerwrap container clearfix">
    <h1 id="logo">Lectgram</h1>
    <ul class="dropdown">
      <li class="header_contents mypage"><a class="dropdown-toggle" data-toggle="dropdown" href="">
          ここにアカウントの画像が入る</a>
          <ul class="dropdown-menu">
            <li><%= link_to 'マイページ' %></li>
            <li><a href="#">設定</a></li>
            <li><a href="#">よくある質問</a></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path %></li>
          </ul>
       </li>
      <li class="header_contents"><span>question</span></li>
      <li class="header_contents"><span>lecture</span></li>
    </ul>
  </div>
  </header>
<% end %>
